<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">

	<test name="TestProject with firefox">
	<parameter name ="browserTestNG" value="firefox"></parameter>
		<classes>
			<class name="automation.testsuite.Day16_QuanLyKVLV_Test" /> 
			<class name="automation.testsuite.Day16_AlertTest" /> 
		</classes>	
	</test> 
	
	<test name="TestProject with edge">
	<parameter name ="browserTestNG" value="edge"></parameter>
		<classes>
			<class name="automation.testsuite.Day16_QuanLyKVLV_Test" /> 
			<class name="automation.testsuite.Day16_AlertTest" /> 
		</classes>	
	</test> 
	
</suite> <!-- Suite -->